.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drink_form{
  position: relative;
  z-index: 1;
  border: solid 1px black;
}
.confirmation_buttons{
  position: relative;
  background-color: whitesmoke;
}

#friend_container{
  border: 1px solid black;
  margin-bottom: 5px;
}

 #confirmation_box {
   position: absolute;
   left:50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100px;
   top: 50%;
   margin-top: -190px;
   width: 12rem;
   height: 24rem;
   z-index: 2;
   background: lightgrey;
   opacity: 0.9;
   border: solid 2px black;
 }

