#cheers-container{
    text-align: center;
    position: relative;
}

.cheers-img-box{
    /* border: 1px solid red; */
    background: rgba(128, 128, 128, 0.385);
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
}

.cheers-img-box img{
    margin-top: 10px;
    width: 100%;
}

