#cheers-container{
    text-align: center;
}

.cheers-img-container{
    display: flex;
    justify-content: center;
    background: 1px solid red;
    min-width: 300px;
    max-width: 400px;
    min-height: 250px;
    max-height: 300px;
}

.cheers-img-container img{
    width: 100%;
}