

#detailed-stats{
    position: relative;
    z-index: 2;
}
#drink-stats{
   position: relative;
   z-index: 2;
   display: grid;
   justify-content: center;
}

#grid-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

#compare-stats{
   text-align: center;
}

.friend-stat{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
 }

#friends-container{
    border: 1px solid black;
    color: #ffdb58;
    background: url("./Favorites/beerfoam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
}

#friends-container::after{
    color: rgba(27, 19, 19, 0.721);
     width: 100%;
     height: 100%;
     position: absolute;
     content: '';
     top: 0;
     left:0;
     background: rgba(1, 10, 19, 0.6);
     z-index: 1;
}

#friends-title{
    border-bottom: 1px solid #ffdb58;
    margin: 0;
    padding: 5px;
    position: relative;
    z-index: 2;  

}

#friend-card{
    position: relative;
    border-bottom: 1px dotted  #ffdb58;
    margin-top: 10px;
    padding: 5px;  
    z-index: 2;  
}

#friend-card:hover{
    background: rgba(27, 19, 19, 0.721);
    opacity: 0.9;
}

#friend-name{
    color:  #ffdb58;
    /* border: 1px solid red; */
    padding: 3px;
}

#friend-time{
    color:  #ffdb58;
    /* border: 1px solid red; */
    padding: 3px;
}

#friend-total{
    color:  #ffdb58;
    /* border: 1px solid red; */
    padding: 3px;
}

.global-ranking-container{
    background: darkgray;
    text-align: center;
}