#header{
   background: #ffdb58;
}

#top-home-section{
    /* border: 1px solid black; */
    color: #ffdb58;
    background: url("./Favorites/homeImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
}

#top-home-section::after{
    color: rgba(27, 19, 19, 0.721);
     width: 100%;
     height: 100%;
     position: absolute;
     content: '';
     top: 0;
     left:0;
     background: rgba(1, 10, 19, 0.6);
     z-index: 1;
}

#top-home-content{
    height: 300px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-intro{
   height: auto;
   width: 500px;
}

#middle-home-content{
    position: relative;
    color: orange;
    background:  #ffdb58;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: flex-end;
    align-items: center;
}

#middle-home-content::after{
    color: rgba(27, 19, 19, 0.721);
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left:0;
    background: rgba(1, 10, 19, 0.2);
    z-index: 1;
}

.middle-content-boxa{
    /* color: #ffdb58; */
    background: url("./Favorites/profileForm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    width: 500px;
}

#bottom-home-content{
    position: relative;
    color: orange;
    background:  #ffdb58;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: flex-start;
    align-items: center;
}

#bottom-home-content::after{
    color: rgba(27, 19, 19, 0.721);
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left:0;
    background: rgba(1, 10, 19, 0.2);
    z-index: 1;
}

.bottom-content-boxb{
    /* color: #ffdb58; */
    background: url("./Favorites/friends.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 300px;
    width: 500px;
}




@media only screen and (max-width: 800px){

    .home-intro{
        height: auto;
        width: 400px;
     }

    #middle-home-content{
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        height: auto;
    }
      
    #bottom-home-content{
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        height: auto;
    }

    .middle-content-boxa{
        height: 400px;
        width: 425px;
    }

    .bottom-content-boxb{
        height: 400px;
        width: 425px;
    }
 
    #b{
        grid-row: 1;
    }
}

@media only screen and (max-width: 800px){

    .home-intro{
        height: auto;
        width: 400px;
     }

    #middle-home-content{
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        height: auto;
    }
      
    #bottom-home-content{
        padding: 5px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        height: auto;
    }

    .middle-content-boxa{
        height: 400px;
        width: 425px;
    }

    .bottom-content-boxb{
        height: 400px;
        width: 425px;
    }
 
    #b{
        grid-row: 1;
    }
}