body{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  letter-spacing: 1.3px;
  height: 100%;
  background: whitesmoke;
}


/* global start */

a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


button{
  background: #ffdb58;
  border-radius: 5px;
}

.drink-button{
  height:25px;
  width: 25px;
  margin: 0 2px 0 2px;
}

.beerMe-button{
  height:25px;
  width: 25px;
  margin: 0 0 5px 0;
  padding: 5px;
}

.confirmation_buttons{
  height:25px;
  width: 25px;
  margin: 0 5px 0 0;
  padding: 5px;
}

button:hover{
  opacity: 0.8;
}

/* global end */

#logo-container{
  display: flex;
  justify-content: space-around;
}

#logo{
  color: orange;
  display: inline;
  padding: 3px;
}

#auth-box{
  margin-right: 20px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#link-container{
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-items: center;
}

.link-box.a{
  color: orange;
}

#auth-box{
  margin: 3px auto 3px auto;
  padding: 5px;
}



.log-button{
  display: inline-block;
}

.link-box:hover{
  background: #ffdb58;
}

a:hover{
  color: orange;
}

li{
  list-style-type: none;
  padding: 5px;
}

span{
  padding: 5px;
}
#friends-link-container{
  text-align: center;
}

#name-date-container{
  text-align: center;
}

#profile-stats-container{
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#drink_form{
  z-index: 2;
}

#friend_container{
  border: 1px solid black;
  margin-bottom: 5px;
}

 #confirmation_box {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 2;
   background: lightgrey;
   opacity: 0.7;
   border: solid 2px black;
   display: flex;
   align-items: center;
   justify-content: center; 
 }

 .confirmation_buttons{
  background-color: whitesmoke;
}

#profile-container{
  color: #ffdb58;
  background: black;
}

.drink-box{
  display: grid;
  justify-content: space-evenly;
}

#friends-link-container{
  position: relative;
  text-align: center;
  z-index: 2;
}

#friends-link-box{
  position: relative;
  z-index: 2;
  display: flex;
}

a:hover{
  color: orange;
}

.friends-link{
  padding: 5px;
  color: #ffdb58;
  display: inline-block;
  border: 1px solid black;
}

.friends-link:hover{
  background: rgb(67, 67, 67);
}

.friends-link > a {
  color: #ffdb58;
}

#name-date-container{
  position: relative;
  z-index: 2;
}

#profile-stats-container{
  padding: 10px;
}

#profile-stats-container{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  z-index: 2;
}

#drink-form-container{
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  justify-content: center;
  justify-items: center;
}

 #drink-form{
  position: relative;
  z-index: 2;
} 

.drink-box{
  display: flex;
  justify-content: center;
  margin-top: 10px;

  }
.drink-button{
  height: 25px;
  width: 25px;
}

.drink-button-container{
  padding: 5px;
  margin: auto 0 auto 0;
}

.drink-box > h2{
  margin: 0;
}

#profile-container{
  color: #ffdb58;
  background: url("./Favorites/social-drinking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#profile-container::after{
  color: rgba(27, 19, 19, 0.721);
   width: 100%;
   height: 100%;
   position: absolute;
   content: '';
   top: 0;
   left:0;
   background: rgba(1, 10, 19, 0.6);
   z-index: 1;
}

.drink-box{
  display: block;
}

#drink-form{
  display: block;
}
#profile-container{
  background: url("./Favorites/cheers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
}

#no-friends-yet{
  position: relative;
  z-index: 2;
}


 @media only screen and (max-width: 600px){
  #friends-link-container{
    position: relative;
    text-align: center;
    z-index: 2;
  }

  #friends-link-box{
    position: relative;
    z-index: 2;
    display: flex;
  }

  a:hover{
    color: orange;
  }

  .friends-link{
    padding: 5px;
    color: #ffdb58;
    display: inline-block;
    border: 1px solid black;
  }

  .friends-link:hover{
    background: black;
  }

  .friends-link > a {
    color: #ffdb58;
  }
  
  #name-date-container{
    position: relative;
    z-index: 2;
  }

  #profile-stats-container{
    padding: 10px;
  }

  #profile-stats-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    z-index: 2;
  }

  #drink-form{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
  }

  #drink-form-container{
    position: relative;
    text-align: center;
    z-index: 2;
  }

  .drink-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    }
  .drink-button{
    height: 25px;
    width: 25px;
  }

  .drink-button-container{
    padding: 5px;
    margin: auto 0 auto 0;
  }

  .drink-box > h2{
    margin: 0;
  }

  #profile-container{
    color: #ffdb58;
    background: url("./Favorites/social-drinking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  #profile-container::after{
    color: rgba(27, 19, 19, 0.721);
     width: 100%;
     height: 100%;
     position: absolute;
     content: '';
     top: 0;
     left:0;
     background: rgba(1, 10, 19, 0.6);
     z-index: 1;
}

 }

 @media only screen and (max-width: 600px){
  .drink-box{
    display: block;
  }

  #drink-form{
    display: block;
  }
  #profile-container{
    background: url("./Favorites/cheers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 320px){
  span{
    font-size: 15px;
  }

}